body {
    background-image: url(./abstract-minimal-background_52683-41571.jpg);
    backdrop-filter: blur(6px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 100px !important;
}

.card {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.356);
}

.card-body {
    background: rgb(9, 71, 121);
    background: linear-gradient(90deg, rgb(89, 164, 224) 40%, rgb(135, 201, 255) 47%, rgb(84, 227, 255) 100%);
    border-radius: 15px;
}

.card-header {
    background-color: #00ccff;
    color: white;
    border-radius: 15px 15px 0 0;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}